In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("brain_stroke.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [3]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [14]:
# GENDER CLEANED 
df['gender']=df['gender'].str.replace('Male','0')
df['gender']=df['gender'].str.replace('Female','1')
df['gender']=df['gender'].astype(int)

In [18]:
# Age modified
df['age']=df['age'].astype(int)

In [24]:
# married cleaned
df['ever_married']=df.ever_married.str.replace('Yes','1')
df['ever_married']=df.ever_married.str.replace('No','0')
df['ever_married']=df['ever_married'].astype(int)

In [26]:
# work type cleaned
# 'Private', 'Self-employed', 'Govt_job', 'children' 0,1,2,3
# take children as college going student no income

df['work_type']=df['work_type'].str.replace('Private','0')
df['work_type']=df['work_type'].str.replace('Self-employed','1')
df['work_type']=df['work_type'].str.replace('Govt_job','2')
df['work_type']=df['work_type'].str.replace('children','3')
# df['work_type']=df['work_type'].astype(int)

In [29]:
# Residence_type cleaning urban as 1 rural as 0
df['Residence_type'].unique()
df['Residence_type']=df['Residence_type'].str.replace('Urban','1')
df['Residence_type']=df['Residence_type'].str.replace('Rural','0')
df['Residence_type']=df['Residence_type'].astype(int)

In [ ]:
# smoking_status cleaning  'formerly smoked', 'never smoked', 'smokes', 'Unknown' [0,1,2,3]
# take unknown as No coments about smoking/don't want to specify

df['smoking_status']=df['smoking_status'].str.replace('formerly smoked','0')
df['smoking_status']=df['smoking_status'].str.replace('never smoked','1')
df['smoking_status']=df['smoking_status'].str.replace('smokes','2')
df['smoking_status']=df['smoking_status'].str.replace('Unknown','3')
df['smoking_status']=df['smoking_status'].astype(int)

In [88]:
df.to_csv('brain_final.csv',index=False)

# Model testing

In [89]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
data=pd.read_csv('brain_final.csv')
data.columns
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67,0,1,1,0,1,228.69,36.6,0,1
1,0,80,0,1,1,0,0,105.92,32.5,1,1
2,1,49,0,0,1,0,1,171.23,34.4,2,1
3,1,79,1,0,1,1,0,174.12,24.0,1,1
4,0,81,0,0,1,0,1,186.21,29.0,0,1

In [91]:
x=data[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']]
y=data['stroke']
X_train,x_test,Y_train,y_test=train_test_split(x,y,test_size=0.2)

In [92]:
# decison tree
model_tree=DecisionTreeClassifier()
model_tree.fit(X_train,Y_train)
p_model_tree=model_tree.predict(x_test)

In [93]:
print("Accuracy of decision tree: {} %".format(np.round(100*(accuracy_score(p_model_tree,y_test)))))

Accuracy of decision tree: 91.0 %

In [94]:
# random forest
model_forest=RandomForestClassifier()
model_forest.fit(X_train,Y_train)
p_model_forest=model_forest.predict(x_test)

In [95]:
print("Accuracy of Random forest: {} %".format(np.round(100*(accuracy_score(p_model_forest,y_test)))))

Accuracy of Random forest: 95.0 %