In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("heart_failure.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [3]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
df.drop(columns=['time'],inplace=True)

In [8]:
df['age']=df.age.astype(int)
df['platelets']=df['platelets'].astype(int)

In [14]:
df.to_csv('heart_final.csv',index=False)

# MODEL

In [66]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [67]:
data=pd.read_csv('heart_final.csv')
data.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'DEATH_EVENT'],
      dtype='object')

In [68]:
x=data[['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking']]
y=data['DEATH_EVENT']

X_train,x_test,Y_train,y_test=train_test_split(x,y,test_size=0.2)

In [69]:
# decison tree
model_tree=DecisionTreeClassifier()
model_tree.fit(X_train,Y_train)
p_model_tree=model_tree.predict(x_test)

In [70]:
print("Accuracy of decision tree: {} %".format(np.round(100*(accuracy_score(p_model_tree,y_test)))))

Accuracy of decision tree: 67.0 %

In [71]:
# random forest
model_forest=RandomForestClassifier()
model_forest.fit(X_train,Y_train)
p_model_forest=model_forest.predict(x_test)

In [72]:
print("Accuracy of Random forest: {} %".format(np.round(100*(accuracy_score(p_model_forest,y_test)))))

Accuracy of Random forest: 78.0 %

In [73]:
# logistic Regression
log_model=LogisticRegression()
log_model.fit(X_train,Y_train)
p_log=log_model.predict(x_test)

In [74]:
print("Accuracy of Logistic Regression: {} %".format(np.round(100*(accuracy_score(p_log,y_test)))))

Accuracy of Logistic Regression: 73.0 %